<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accueil</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Bienvenu!</h1>
      <div class="buttons">
        <a href="/user/login">
          <button class="btn" id="login-btn">Login</button>
        </a>
        <a href="/user/register">
          <button class="btn" id="register-btn">Register</button>
        </a>
      </div>
    </div>
  </body>
</html>
