<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>P_APP Romain</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <h1>E-Commerce Store de <%= name %></h1>
    <div class="LoginButton">
      <div class="LoginButtonItem">
        <h2>Login</h2>
        <form action="" method="POST">
          <label for="username"></label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Enter your username"
            required
          />
          <br />
          <label for="password"></label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter your password"
            required
          />
          <br />
          <button type="submit">Submit</button>
        </form>
        <p>Don't have an account? <a href="/register">Register here</a></p>
      </div>
    </div>
  </body>
</html>
