<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Profile</title>
  </head>
  <body>
    <h1>Page user de <%= username %>!</h1>

    <form action="/logout" method="POST">
      <button type="submit">Logout</button>
    </form>

    <form action="/admin" method="GET">
      <button type="submit">Go to Admin</button>
    </form>
  </body>
</html>
